body {
	background-color:#0d1117;
	color: #B7A9B6;

	font-weight: 600;
	font-family: 'Playfair Display SC',serif;

}
/*.info p{
	color: #86898f;
}*/
/* box model */

a {
	color: red;
	text-decoration: none;
}

a:hover {
	text-decoration:underline;
}

a:active{
	color: blue;
}

.gor {
	color:#B7A9B6;


}

.conteiner{
	max-width:60%;
	margin: auto;
}